@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f7fafc] font-roboto text-[15px] font-normal leading-[1.5] tracking-[0.8px];
  }
}
@layer components {
  .hamburger-slice {
    @apply block h-[2px] w-[22px] bg-white duration-300;
  }
  .container {
    @apply mx-auto w-full max-w-full px-[15px];
  }
  main.main-container,
  footer.bap-footer.footer-services {
    @apply overflow-hidden;
  }
  .row {
    @apply -mx-[10px] flex flex-wrap;
  }
  .navbar-toggler {
    @apply my-auto flex cursor-pointer flex-col gap-1 rounded-[4px] bg-transparent py-2;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    @apply translate-y-[6px] rotate-45;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    @apply opacity-0;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    @apply translate-y-[-6px] -rotate-45;
  }

  .main-menu-item {
    @apply relative border-b-[1px] border-solid border-[#ececec] p-0;
  }
  .main-menu-item-link {
    @apply relative inline-block w-fit bg-transparent px-4 py-[10px] text-left text-[13px] font-normal tracking-[0.8px] text-[#333] duration-200;
  }

  .sub-menu-toggle {
    @apply absolute right-[15px] top-[12px] z-[101] cursor-pointer;
  }

  .sub-menu {
    @apply block h-0 w-full overflow-hidden border-t-[1px] border-solid border-[#ececec] bg-[#f5f5f5] duration-200;
  }

  .sub-menu-item {
    @apply relative m-0 inline-block w-full border-b-[1px] border-solid border-[#ececec] p-0;
  }
  .sub-menu-item-link {
    @apply inline-block py-[10px] pl-[30px] pr-[15px] text-[13px] font-normal tracking-[0.8px] text-[#363636];
  }
  .sub-menu-item-link::before {
    @apply absolute inline-block h-0 w-0;
    content: "";
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #363636;
    left: 15px;
    top: 17px;
  }
  .navy-item {
    @apply w-full bg-[#3c90fd] py-[10px] px-[25px] font-semibold text-white;
  }
  .slideshow {
    @apply relative z-[1] h-screen w-screen overflow-hidden bg-[#333];
  }
  .slideshow::before {
    @apply absolute inset-0 right-[unset] z-[1001] w-full;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.54) 0%,
      rgba(0, 0, 0, 0.352006) 98.7%
    );
  }
  .slider-item {
    @apply absolute left-0 top-0 z-[999] h-full w-full opacity-0 transition-opacity duration-1000 ease-linear;
  }
  .btn {
    @apply mx-auto inline-block w-[290px] max-w-[300px] cursor-pointer rounded-[5px] border-[1px] border-solid border-transparent px-[30px] py-[11.25px] align-middle text-[15px] font-light leading-[26.25px] transition-all duration-150 ease-in-out;
  }
  .btn-primary {
    @apply border-[#007bff] bg-[#007bff] text-white;
  }
  .btn-primary:hover {
    @apply bg-white text-[#007bff] shadow-button;
  }
  .btn-outline {
    @apply border-[#067bff] text-[#067bff];
  }
  .btn-outline:hover {
    @apply border-[#74b9ff] bg-[#74b9ff] text-white shadow-button;
  }
  .bap-about-container {
    @apply z-[2] mx-auto w-[90%] pb-[30px] text-center;
  }
  .bap-achievement {
    @apply flex items-center justify-start;
  }
  .text-header {
    @apply relative mb-[7.5px] flex gap-[25px] text-2xl font-semibold leading-10 text-black;
  }
  .text-header-icon {
    @apply relative top-0 flex h-[56px] w-[50px] items-center justify-center bg-cover;
    background-image: url("../assets/images/polygon-bg.png");
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  }

  .text-header-text {
    @apply inline-block pt-[7px] text-2xl font-medium leading-[30px] text-black;
    width: calc(100% - 75px);
  }
  .content-reason-item {
    @apply relative py-[5px] pl-[30px] text-[14px] text-[#373737];
  }
  .content-reason-item::before {
    content: "";
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("../assets/images/curved-arrow-icon.png");
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 10px;
  }
  .offshore-list {
    @apply relative grid grid-cols-3;
  }
  .offshore-list-col {
    @apply relative flex w-full items-center px-[10px];
  }

  .offshore-list-col .offshore-list-item {
    @apply relative block min-h-[100px] rounded-[10px] border-[0.74387px] border-solid border-[#e7f2ff] bg-white p-[5px] shadow-servicebox transition-all duration-300 ease-in-out;
  }
  .offshore-list-col .offshore-list-item::before {
    @apply absolute top-[45%] -right-[10px] z-[1] h-0 w-0 border-t-[5px] border-r-[10px] border-b-[5px] border-solid border-r-[#0a74ff] border-t-transparent border-b-transparent;
    content: "";
  }
  .offshore-list-col .offshore-list-item::after {
    @apply absolute right-[-22px] top-[50%] z-[1] mx-auto h-[1px] w-[20px] bg-[#0a74ff];
    content: "";
  }
  .offshore-list-col .item-thumb {
    @apply mx-auto flex h-[52px] w-[52px] min-w-[52px] items-center justify-center rounded-[50%] bg-[#e7f2ff] text-[28px] text-[#1d9eff];
  }
  .offshore-list-col .item-thumb img {
    @apply max-w-[32px];
  }
  .offshore-list-col .item-content {
    @apply ml-[5px] text-center text-[9px] font-[400] uppercase leading-[15px] text-[#262626];
  }
  .offshore-list-col #main-block .item-content {
    @apply mt-[10px] text-white;
  }

  .offshore-list-item:hover {
    @apply bg-[#1d9eff];
  }
  .offshore-list-item:hover .item-content {
    @apply text-white;
  }
  .offshore-list-col .hover-zoom:hover .item-thumb {
    @apply bg-white;
  }
  .offshore-list-col .hover-zoom:hover .item-thumb img {
    @apply animate-[iconzoom];
    animation-duration: 0.8s;
  }
  #center-main-block::before {
    @apply absolute left-0 mx-auto h-[75%] w-[1px] bg-[#0a74ff];
    content: "";
  }
  #center-main-block::after {
    @apply absolute right-0 mx-auto h-[75%] w-[1px] bg-[#0a74ff];
    content: "";
  }
  #block-right .offshore-list-item::before {
    @apply -left-[10px] right-[unset] border-r-[0px]  border-l-[10px] border-l-[#0a74ff];
  }
  #block-right .offshore-list-item::after {
    @apply -left-[22px] right-[unset];
  }
  .client-recomments {
    @apply block;
    background: linear-gradient(to top, #f7fafc 50%, #fff 50%);
  }
  .item-nomal {
    @apply rounded-[3px] bg-white p-[5px] shadow-itemnomal;
  }
  .main-block .advance-block::before {
    @apply absolute left-0 right-0 -bottom-[88px] m-auto h-[68px] w-14;
    content: url("../assets/images/arrow-down.png");
  }
  .main-block h4 {
    @apply mb-[7.5px] rounded-[4.5px] p-[10px] text-center text-[15px] font-light uppercase leading-[18px];
  }
  .main-block .item-nomal ul li {
    @apply relative py-[5px] text-[13px] -tracking-[0.3px] text-[#474747];
  }
  .main-block .item-nomal ul li::before {
    @apply absolute -left-4 top-[45%] inline-block h-[3px] w-[3px] rounded-full bg-[#0383ed];
    content: "";
  }
  .main-block .disadvance-block ul li::before {
    @apply top-[15%] bg-[#fe565c];
  }
  .new-footer-bap {
    @apply bg-cover bg-no-repeat;
    background-image: url("../assets/images/bg-contact.jpg");
  }
  .double-block-new {
    @apply py-[40px];
  }
  .footer-new-img {
    @apply relative text-center;
  }
  .footer-new-img img {
    @apply mx-auto h-[250px] max-w-full align-middle;
  }
  .footer-new-img .comtor {
    @apply absolute left-0 right-0 bottom-[10%] mx-auto flex w-full items-center justify-center text-center;
  }
  .footer-new-img .comtor h4 {
    @apply m-0 text-[18px] uppercase text-white;
  }
  .footer-new-img .comtor span {
    @apply ml-[7px] rounded-[5px] bg-white py-[1px] px-[5px] text-[12px] text-[#0c7cff];
  }
  .new-item-footer {
    @apply mt-[15px] rounded-[4px] bg-[rgba(255,255,255,.95)] p-5 shadow-newitemfooter;
  }
  .new-item-footer h4 {
    @apply mb-[7.5px] flex items-center text-[18.75px] font-normal leading-[1.2];
  }
  .new-item-footer h4 span {
    @apply ml-[10px] text-[16px] leading-[1.4] -tracking-[0.1px] text-[#141414];
  }
  .new-item-footer h5 {
    @apply mb-[7.5px] py-[5px] text-[14px] font-light leading-5 text-[#424242];
  }
  .new-item-footer a {
    @apply text-[10px];
  }
  .btn-see-all {
    @apply inline-block select-none rounded-[45px] border-[1px] border-solid border-[#0c7cff] bg-[#0c7cff] py-[11.25px] px-[37.5px] text-center align-middle font-medium uppercase leading-[1.5] text-white shadow-colorbutton;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }
  .btn-see-all:hover {
    @apply border-[#0c7cff] bg-white text-[#0c7cff];
  }
  .btn-more-info {
    @apply flex w-fit select-none items-center justify-start gap-1 rounded-[45px] border-[1px] border-solid border-[#f2638f] bg-[#f2638f] py-[11.25px] px-[37.5px] text-center align-middle font-medium uppercase leading-[1.5] text-white shadow-colorbutton;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  }
  .btn-more-info:hover {
    @apply border-[#f2638f] bg-white text-[#f2638f];
  }
  .btn-more-info:hover img {
    @apply translate-x-2;
  }
  .btn-more-info img {
    @apply inline-block h-[12px] w-[12px] transition-transform duration-200 ease-in-out;
  }
  .deco-bot {
    @apply relative;
  }
  .deco-bot img {
    @apply max-w-full align-middle;
  }
  .bap-footer-top {
    @apply bg-[#0c7cff];
  }
  .navbar-brand {
    @apply mr-[15px] inline-block whitespace-nowrap py-[4.6875px] text-[18.75px] leading-[inherit] text-[#007bff] duration-200;
  }
  .navbar-brand img {
    @apply max-h-[50px] max-w-full align-middle brightness-0 invert-[1];
  }
  .footer-info {
    @apply mt-[15px] text-[12px] text-[#d4edff];
  }
  .footer-info h3 {
    @apply mb-[15px] text-[20px] font-medium leading-[1.2] text-white;
  }
  .footer-info p {
    @apply relative mb-[10px] leading-[30px];
  }
  .bap-footer-top .footer-item-list {
    @apply max-w-full pt-[5px] text-[13px] text-white;
  }
  .bap-footer-top .footer-item-list h3 {
    @apply mb-[7.5px] text-[20px] font-normal leading-[1.2];
  }
  .bap-footer-top .footer-item-list li .social-icon {
    @apply block rounded-[50%] border-[1px] border-solid border-white bg-transparent p-3;
  }
  .bap-footer-top .footer-item-list li .social-icon:hover {
    @apply bg-white;
  }
  .bap-footer-top .footer-item-list li .social-icon svg {
    @apply h-[20px] w-[20px] fill-white transition-all duration-500;
  }
  .bap-footer-top .footer-item-list li .social-icon:hover svg {
    @apply fill-[#0c7cff];
  }
  .bap-footer-top .footer-item-list .service ul li a {
    @apply mr-[15px] text-center leading-[25px] text-[#d4edff] duration-200;
  }
  .bap-footer-copyright {
    @apply bg-[#0c7cff] pb-10 text-center text-[14px] leading-[1] text-[#d4edff];
  }
}
.slider-item-active {
  opacity: 1;
  z-index: 1000;
}
.navbar-active {
  left: 0px;
}
.navbar-scroll {
  background-color: #fff !important;
  @apply shadow-navbar;
}
.navbar-logo-scroll {
  invert: unset !important;
  brightness: unset !important;
}

.hamburger-slice-scroll {
  background-color: #000;
}

@layer utilities {
  .fixed-top {
    @apply fixed inset-0 bottom-[unset] z-[100];
  }
}

@keyframes iconzoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
