@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f7fafc] font-roboto text-[15px] font-normal leading-[1.5] tracking-[0.8px];
  }
}
@layer components {
  .hamburger-slice {
    @apply block h-[2px] w-[22px] bg-white duration-300;
  }
  .container {
    @apply mx-auto w-full max-w-full px-[15px];
  }
  .row {
    @apply -mx-[10px] flex flex-wrap;
  }
  .navbar-toggler {
    @apply my-auto flex cursor-pointer flex-col gap-1 rounded-[4px] bg-transparent py-2;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    @apply translate-y-[6px] rotate-45;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    @apply opacity-0;
  }
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    @apply translate-y-[-6px] -rotate-45;
  }

  .main-menu-item {
    @apply relative border-b-[1px] border-solid border-[#ececec] p-0;
  }
  .main-menu-item-link {
    @apply relative inline-block w-fit bg-transparent px-4 py-[10px] text-left text-[13px] font-normal tracking-[0.8px] text-[#333] duration-200;
  }

  .sub-menu-toggle {
    @apply absolute right-[15px] top-[12px] z-[101] cursor-pointer;
  }

  .sub-menu {
    @apply block h-0 w-full overflow-hidden border-t-[1px] border-solid border-[#ececec] bg-[#f5f5f5] duration-200;
  }

  .sub-menu-item {
    @apply relative m-0 inline-block w-full border-b-[1px] border-solid border-[#ececec] p-0;
  }
  .sub-menu-item-link {
    @apply inline-block py-[10px] pl-[30px] pr-[15px] text-[13px] font-normal tracking-[0.8px] text-[#363636];
  }
  .sub-menu-item-link::before {
    @apply absolute inline-block h-0 w-0;
    content: "";
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid #363636;
    left: 15px;
    top: 17px;
  }
  .navy-item {
    @apply w-full bg-[#3c90fd] py-[10px] px-[25px] font-semibold text-white;
  }
  .slideshow {
    @apply relative z-[1] h-screen w-screen overflow-hidden bg-[#333];
  }
  .slideshow::before {
    @apply absolute inset-0 right-[unset] z-[1001] w-full;
    content: "";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.54) 0%,
      rgba(0, 0, 0, 0.352006) 98.7%
    );
  }
  .slider-item {
    @apply absolute left-0 top-0 z-[999] h-full w-full opacity-0 transition-opacity duration-1000 ease-linear;
  }
  .btn {
    @apply mx-auto inline-block w-[290px] max-w-[300px] cursor-pointer rounded-[5px] border-[1px] border-solid border-transparent px-[30px] py-[11.25px] align-middle text-[15px] font-light leading-[26.25px] transition-all duration-150 ease-in-out;
  }
  .btn-primary {
    @apply border-[#007bff] bg-[#007bff] text-white;
  }
  .btn-primary:hover {
    @apply bg-white text-[#007bff] shadow-button;
  }
  .btn-outline {
    @apply border-[#067bff] text-[#067bff];
  }
  .btn-outline:hover {
    @apply border-[#74b9ff] bg-[#74b9ff] text-white shadow-button;
  }
  .bap-about-container {
    @apply z-[2] mx-auto w-[90%] pb-[30px] text-center;
  }
  .bap-achievement {
    @apply flex items-center justify-start;
  }
  .text-header {
    @apply relative mb-[7.5px] flex gap-[25px] text-2xl font-semibold leading-10 text-black;
  }
  .text-header-icon {
    @apply relative top-0 flex h-[56px] w-[50px] items-center justify-center bg-cover;
    background-image: url("../assets/images/polygon-bg.png");
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  }

  .text-header-text {
    @apply inline-block pt-[7px] text-2xl font-medium leading-[30px] text-black;
    width: calc(100% - 75px);
  }
  .content-reason-item {
    @apply relative py-[5px] pl-[30px] text-[14px] text-[#373737];
  }
  .content-reason-item::before {
    content: "";
    background-size: cover;
    width: 16px;
    height: 16px;
    background-image: url("../assets/images/curved-arrow-icon.png");
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 10px;
  }
  .offshore-list {
    @apply relative grid grid-cols-3;
  }
  .offshore-list-col {
    @apply relative flex w-full items-center px-[10px];
  }

  .offshore-list-col .offshore-list-item {
    @apply relative block min-h-[100px] rounded-[10px] border-[0.74387px] border-solid border-[#e7f2ff] bg-white p-[5px] shadow-servicebox transition-all duration-300 ease-in-out;
  }
  .offshore-list-col .offshore-list-item::before {
    @apply absolute top-[45%] -right-[10px] z-[1] h-0 w-0 border-t-[5px] border-r-[10px] border-b-[5px] border-solid border-r-[#0a74ff] border-t-transparent border-b-transparent;
    content: "";
  }
  .offshore-list-col .offshore-list-item::after {
    @apply absolute right-[-22px] top-[50%] z-[1] mx-auto h-[1px] w-[20px] bg-[#0a74ff];
    content: "";
  }
  .offshore-list-col .item-thumb {
    @apply mx-auto flex h-[52px] w-[52px] min-w-[52px] items-center justify-center rounded-[50%] bg-[#e7f2ff] text-[28px] text-[#1d9eff];
  }
  .offshore-list-col .item-thumb img {
    @apply max-w-[32px];
  }
  .offshore-list-col .item-content {
    @apply ml-[5px] text-center text-[9px] font-[400] uppercase leading-[15px] text-[#262626];
  }
  .offshore-list-col #main-block .item-content {
    @apply mt-[10px] text-white;
  }

  .offshore-list-item:hover {
    @apply bg-[#1d9eff];
  }
  .offshore-list-item:hover .item-content {
    @apply text-white;
  }
  .offshore-list-col .hover-zoom:hover .item-thumb {
    @apply bg-white;
  }
  .offshore-list-col .hover-zoom:hover .item-thumb img {
    @apply animate-[iconzoom];
    animation-duration: 0.8s;
  }
  #center-main-block::before {
    @apply absolute left-0 mx-auto h-[75%] w-[1px] bg-[#0a74ff];
    content: "";
  }
  #center-main-block::after {
    @apply absolute right-0 mx-auto h-[75%] w-[1px] bg-[#0a74ff];
    content: "";
  }
  #block-right .offshore-list-item::before {
    @apply -left-[10px] right-[unset] border-r-[0px]  border-l-[10px] border-l-[#0a74ff];
  }
  #block-right .offshore-list-item::after {
    @apply -left-[22px] right-[unset];
  }
  .client-recomments {
    @apply block;
    background: linear-gradient(to top, #f7fafc 50%, #fff 50%);
  }
  .item-nomal {
    @apply rounded-[3px] bg-white p-[5px] shadow-itemnomal;
  }
  .main-block .advance-block::before {
    @apply absolute left-0 right-0 -bottom-[88px] m-auto h-[68px] w-14;
    content: url("../assets/images/arrow-down.png");
  }
  .main-block h4 {
    @apply mb-[7.5px] rounded-[4.5px] p-[10px] text-center text-[15px] font-light uppercase leading-[18px];
  }
  .main-block .item-nomal ul li {
    @apply relative py-[5px] text-[13px] -tracking-[0.3px] text-[#474747];
  }
  .main-block .item-nomal ul li::before {
    @apply absolute -left-4 top-[45%] inline-block h-[3px] w-[3px] rounded-full bg-[#0383ed];
    content: "";
  }
  .main-block .disadvance-block ul li::before {
    @apply top-[15%] bg-[#fe565c];
  }
}
.slider-item-active {
  opacity: 1;
  z-index: 1000;
}
.navbar-active {
  left: 0px;
  /* @apply shadow-navbar; */
}

@layer utilities {
  .fixed-top {
    @apply fixed inset-0 bottom-[unset] z-[100];
  }
}

@keyframes iconzoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
