@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
}

section.new-about-header {
  @apply flex h-[45vh] items-center justify-center bg-white bg-aboutheader bg-no-repeat max-lg:bg-cover max-lg:bg-center;
  background-image: url(../assets/images/services.png);
}

.contact-banner h1 {
  @apply mb-[7.5px] text-[45px] font-[500] uppercase leading-[1.2] text-white lg:text-[63px];
  text-shadow: 0px 2px 22px rgba(0, 0, 0, 0.136801);
}

section.contact-intro {
  @apply block bg-white;
}

section.contact-intro h2 {
  @apply mb-[7.5px] text-[49px] leading-[1.2] text-[#0986ff];
}
section.contact-intro .main-contact-intro {
  @apply pb-[15px];
  background: linear-gradient(to left, #fff 52%, #f4f6fd 48%);
}
@media (max-width: 991px) {
  section.contact-intro .main-contact-intro {
    background: linear-gradient(to top, #fff 5%, #f4f6fd 95%);
  }
  section.connect-bap.info-tech.section {
    background: linear-gradient(28.47deg, #006dd1 -0.83%, #1088ec 99.77%);
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (min-width: 992px) {
  .contact-controler {
    background: linear-gradient(
      28.47deg,
      #006dd1 -0.83%,
      #1088ec 99.77%
    ) !important;
    box-shadow: 7px 12px 21px rgba(0, 40, 189, 0.253442);
  }
}

section.contact-intro .contact-slogan {
  @apply relative p-[45px] max-lg:mb-[50px] max-lg:block;
}

section.contact-intro .contact-slogan::before {
  @apply absolute left-0 top-0 bottom-0 my-auto h-[95px] w-[14px];
  content: url(../assets/images/boder.png);
}

section.contact-intro .contact-slogan::after {
  @apply absolute right-0 top-0 bottom-0 my-auto h-[60px] w-[60px] max-lg:left-0 max-lg:rotate-90;
  content: url(../assets/images/next.png);
}

section.contact-intro h4 {
  @apply text-[41px] font-[300] leading-[1.2] tracking-[4.76087px] text-[#141414];
}

section.contact-intro .contact-slogan span {
  @apply block text-[45px] font-[500] leading-[1] tracking-[4.4px] text-[#141414] lg:text-[68px];
}

section.contact-intro .contact-content {
  @apply flex h-full items-center text-[16px] leading-[30px] tracking-[.041765px] text-[#686868] lg:text-[17px];
}
section.contact-intro .contact-content p {
  @apply m-0;
}

section.connect-bap.info-tech.bg-white.section {
  @apply bg-[rgba(0,0,0,0)];
  background: linear-gradient(28.47deg, #006dd1 -0.83%, #1088ec 99.77%);
}

.section {
  @apply py-[30px] md:py-[50px] 3xl:py-[60px];
}

.contact-controler {
  @apply relative z-[2] rounded-[7px] md:py-[25px] md:px-[35px];
  background: 0 0;
}
.section.contact-controler h2 {
  @apply relative mb-[7.5px] pb-[50px] text-center text-[25px] leading-[unset] tracking-[unset] text-white lg:text-[40px] lg:tracking-[4.34475px];
}

.section.contact-controler h2::before {
  @apply absolute left-0 right-0 bottom-[20px] mx-auto h-[7px] w-[36px] bg-[#b1d9ff];
  content: "";
}

.hover-zoom {
  @apply transition-all duration-300 ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.item-services {
  @apply rounded-[3.92465px] bg-white py-[25px] px-[20px] text-center;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.0771962);
}

.item-services:hover .item-content {
  @apply text-[#0a7ee2];
}
.item-services .item-content {
  @apply min-h-[40px] text-center text-[18px] font-[400] leading-[19px] tracking-[0.444346px] text-[#1f1f1f] transition-all duration-200 ease-in-out;
}
.item-services .offshore_list_item_content {
  @apply min-h-[65px] overflow-hidden text-center text-[14px] tracking-[0.0949242px] text-[#606060];
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.item-services .item-thumb {
  @apply flex items-center justify-center py-[30px];
}
.item-services .item-thumb img {
  @apply h-[60px] w-[60px] max-w-full;
}
.item-services .item-thumb:hover img {
  @apply animate-[iconzoom];
  animation-duration: 0.8s;
}
section#bappartner {
  @apply block bg-white pt-[50px] lg:pb-[10px];
}
.headding-contact {
  @apply m-0 border-l-[7px] border-solid border-[#2193ff] pl-[20px] text-[21px] leading-[1.2] text-[#141414] md:text-[27px]  lg:text-[37px] lg:tracking-[1.33639px];
}
.section-bap-product {
  @apply py-[40px] lg:py-[50px] 3xl:py-[60px];
}

@keyframes iconzoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
